CURRENNT_codes/build
CURRENNT_codes/build*
CURRENNT_codes/CMakeLists.txt_old
pyTools/binaryTools/readwrite.*
pyTools/scripts/utilities-new/wavGen_STRAIGHT/Config.pm
pyTools/scripts/utilities-new/wavGen_WORLD/Config.pm
.DS_Store
._.DS_Store
